*.png
*/__pycache__
__pycache__
.dir-locals.el
tests
*_data/
jobs/
job*/
fake*/
*-jobs*/
test-jobs/
old-jobs/
number-*
*~
*.sh
*.log
log/
data/
out
*.pth
.old*
.test-jobs
_cache*
.test-*
module/rst
wim-arrays